# Install PyTorch with CPU
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
numpy==1.26.4

# Install RobustBench
git+https://github.com/RobustBench/robustbench.git

# Install Google Cloud Vision (only for attacking API)
google-cloud-vision

# Install AWS Rekognition (only for attacking API)
boto3